/* Universal Styles */

html {
    font-size: 18px;
}
body {
    line-height: 1.5;
    font-family: sans-serif;
    box-sizing: border-box;
}
h1 {
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding: 0.5rem 0;
    margin: 1.5rem 0;
    border-bottom: 2px solid #fff;
}
p {
    font-size: 0.8rem;
    color: #fff;
    padding: 0.5rem 0;
}
a {
    text-decoration: none;
    color: #fff;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

/* Buttons */

.btn {
    padding: 1rem;
    font-weight: bold;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

/* Navigation Bar Styles */

header {
    background: rgba(37, 42, 72, 1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}
.nav-div {
    justify-content: space-between;
}
.icon {
    font-size: 1.2rem;
    color: #fff;
}
.logo {
    background: #fff;
    padding: 0.2rem;
}
.logo a {
    color: rgba(37, 42, 72, 1);
}

/* Hero Section */

.hero {
    background: url("../media/heroimg1.jpg");
    background-repeat: no-repeat;
    margin-top: 4.5rem;
}
.hero .btn {
    margin: 1.5rem 0;
}
.hero-flex {
    flex-direction: column;
    align-items: flex-start;
}
.hero-overlay {
    background: rgba(37, 42, 72, 0.6);
}

/* Image Showcase section */

.img {
    width: 100%;
    position: relative;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}
.img1-overlay {
    background: rgba(111, 177, 202, 0.8);
}
.img1-overlay:hover {
    background: rgba(111, 177, 202, 0);
}

.img2-overlay {
    background: rgba(144, 133, 193, 0.8);
}
.img2-overlay:hover {
    background: rgba(144, 133, 193, 0);
}

.img3-overlay {
    background: rgba(229, 147, 139, 0.8)
}
.img3-overlay:hover {
    background: rgba(144, 133, 193, 0);
}

.img4-overlay {
    background: rgba(224, 182, 143, 0.8);
}
.img4-overlay:hover {
    background: rgba(144, 133, 193, 0);
}

.img5-overlay {
    background: rgba(129, 154, 211, 0.8);
}
.img5-overlay:hover {
    background: rgba(144, 133, 193, 0);
}

.img6-overlay {
    background: rgba(121, 174, 151, 0.8);
}
.img6-overlay:hover {
    background: rgba(144, 133, 193, 0);
}

/* Contact Section */

.contact{
    background-image: linear-gradient(to right bottom, rgb(55, 52, 116), rgb(167, 140, 192));
}

/* Form Control */

.form-control input,
.form-control textarea {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0.5rem;
    width: 95%;
    margin: 1rem 0;
    border-radius: 5px;
}
.form-control textarea {
    resize: none;
}
.form-btn {
    border-radius: 5px;
    color: blue;
    background-color: #fff;
}
.s-icon {
    font-size: 2rem;
    padding: 0.8rem;
}

/* Footer */

.foot {
    text-align: center;
    color: gray;
    padding: 1.5rem;
}

/* Making the page responsive.  Medium size screen */

@media all and (min-width: 525px) and (max-width: 770px) {
    html {
        font-size: 24px;
    }
    .hero {
        background-size: cover;
        background-position: center;
    }
    .img {
        width: 50%;
    }
}

/* Large size screen */

@media all and (min-width: 771px) {
    html {
        font-size: 24px;
    }
    .hero {
        background: url(../media/heroimg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img {
        width: 50%;
    }
    .large-screen {
        width: 100%;
    }
    .social-links {
        flex-direction: column;
        width: 8%;
        padding: 0.7rem;
    }
    .contact-text {
        width: 25%;
        padding: 0.7rem;
    }
    .form-control {
        width: 50%;
        padding: 0.7rem;
        padding-top: 1rem;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }

}








